.mixer{
    margin: 48px 120px;
    height: 500px;
}

.fluidContainer{
    position: relative;
    height: 0px;
    width: 0px
}

.fluid {
    mask: url("/images/elements/mixer.svg");
    mask-position: -10px 400px;
    position: relative;
    top: -400px;
    left: 10px;
    width: 220px;
    height: 215px;
}

.insideMixer{
    position: relative;
    height: 280px;
    width: 220px;
    top: -465px;
    left: 10px
}

.fruitInMixer{
    height: 100px;
    width: 100px;
    position: relative;
}

.firstFruit{
    top: -20px;
    left: 90px;
}

.secondFruit{
    top: -5px;
    left: 20px;
}

.thirdFruit{
    left: 75px;
}