@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

:root {
  --main-dark-grey: #42493F;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Jura;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
